*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #020D18;
    color: #fff;
    font-family: sans-serif;
}


.cabecalho nav ul{
   display: flex;
}
.cabecalho nav ul li{
    text-align: right;
    margin: 2rem;
}
.cabecalho nav{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    width: 100%;
}

